// Breakpoints
@mixin bp-xs {
	@media screen and (max-width: 599px) {
		@content;
	}
}

@mixin bp-s {
	@media screen and (min-width: 600px) and (max-width: 899px) {
		@content;
	}
}

@mixin bp-m {
	@media screen and (min-width: 900px) and (max-width: 1199px) {
		@content;
	}
}

@mixin bp-l {
	@media screen and (min-width: 1200px) and (max-width: 1799px) {
		@content;
	}
}

@mixin bp-xl {
	@media screen and (min-width: 1800px) {
		@content;
	}
}

@mixin bp-tablet {
	@include bp-s {
		@content;
	}

	@include bp-m {
		@content;
	}
}

@mixin bp-desktop {
	@include bp-l {
		@content;
	}

	@include bp-xl {
		@content;
	}
}

// Grid

@mixin dotted-grid {
	background-image: radial-gradient($color-primary--black 5%, transparent 0);
	background-position-x: center;
	background-size: 2rem 2rem;
	position: absolute;
	width: 100%;
	content: "";
	z-index: 3;

	.is-dark & {
		background-image: radial-gradient(rgba(255, 255, 255, 0.6) 5%, transparent 0);
	}
}

@mixin grid-right {
	@include bp-xs {
		margin: 0 0 0 2.4rem;
	}

	@include bp-s {
		margin: 0 0 0 6.4rem;
	}

	@include bp-m {
		margin: 0 0 0 9.6rem;
	}

	@include bp-l {
		margin: 0 0 0 9.6rem;
	}

	@include bp-xl {
		margin: 0 0 0 12.8rem;
	}
}

@mixin responsive-spacing($property, $mobile, $tablet, $desktop, $desktop-xl) {
	@include bp-xs {
		#{$property}: $mobile;
	}
	@include bp-tablet {
		#{$property}: $tablet;
	}
	@include bp-l {
		#{$property}: $desktop;
	}
	@include bp-xl {
		#{$property}: $desktop-xl;
	}
}

// SP100 (only desktop)
@mixin spacing-100($property) {
	@include responsive-spacing($property, $spacing--100, $spacing--100, $spacing--100, $spacing--100);
}

// SP200 (only desktop)
@mixin spacing-200($property) {
	@include responsive-spacing($property, $spacing--200, $spacing--200, $spacing--200, $spacing--200);
}

// SP300 (mobile and desktop)
@mixin spacing-300($property) {
	@include responsive-spacing($property, $spacing--300, $spacing--300--tablet, $spacing--300--tablet, $spacing--300--tablet);
}

// SP400
@mixin spacing-400($property) {
	@include responsive-spacing($property, $spacing--400, $spacing--400--tablet, $spacing--400--desktop, $spacing--400--desktop-xl);
}

// SP500
@mixin spacing-500($property) {
	@include responsive-spacing($property, $spacing--500, $spacing--500--tablet, $spacing--500--desktop, $spacing--500--desktop-xl);
}

// SP600
@mixin spacing-600($property) {
	@include responsive-spacing($property, $spacing--600, $spacing--600--tablet, $spacing--600--desktop, $spacing--600--desktop-xl);
}

// SP700
@mixin spacing-700($property) {
	@include responsive-spacing($property, $spacing--700, $spacing--700--tablet, $spacing--700--desktop, $spacing--700--desktop-xl);
}

// SP800
@mixin spacing-800($property) {
	@include responsive-spacing($property, $spacing--800, $spacing--800--tablet, $spacing--800--desktop, $spacing--800--desktop-xl);
}

// SP900
@mixin spacing-900($property) {
	@include responsive-spacing($property, $spacing--900, $spacing--900--tablet, $spacing--900--desktop, $spacing--900--desktop-xl);
}

// Fonts

// Headline large sans serif
@mixin headline-100 {
	font-family: $font-sans-serif-light;

	@include bp-xs {
		font-size: 5.6rem;
		line-height: 6.2rem;
	}
	@include bp-tablet {
		font-size: 7.2rem;
		line-height: 8rem;
	}
	@include bp-l {
		font-size: 8rem;
		line-height: 8.8rem;
	}
	@include bp-xl {
		font-size: 9.6rem;
		line-height: 10.6rem;
	}
}

// Headlines large serif - shared
@mixin font-serif-shared-large {
	@include bp-xs {
		font-size: 6rem;
		line-height: 6.2rem;
	}
	@include bp-tablet {
		font-size: 7.8rem;
		line-height: 8rem;
	}
	@include bp-l {
		font-size: 8.6rem;
		line-height: 8.8rem;
	}
	@include bp-xl {
		font-size: 10.4rem;
		line-height: 10.6rem;
	}
}
// Headline large serif
@mixin headline-101 {
	@include font-serif-shared-large();

	font-family: $font-serif;
}
// Headline large serif italic
@mixin headline-102 {
	@include font-serif-shared-large();

	font-family: $font-serif-italic;
}

// Headline smaller sans serif
@mixin headline-200 {
	font-family: $font-sans-serif-light;

	@include bp-xs {
		font-size: 3.2rem;
		line-height: 3.6rem;
	}
	@include bp-tablet {
		font-size: 4rem;
		line-height: 4.4rem;
	}
	@include bp-l {
		font-size: 4.8rem;
		line-height: 5.3rem;
	}
	@include bp-xl {
		font-size: 6.4rem;
		line-height: 7.1rem;
	}
}
// Headline smaller serif - shared
@mixin font-serif-shared-small {
	@include bp-xs {
		font-size: 3.5rem;
		line-height: 3.6rem;
	}
	@include bp-tablet {
		font-size: 4.4rem;
		line-height: 4.4rem;
	}
	@include bp-l {
		font-size: 5.2rem;
		line-height: 5.3rem;
	}
	@include bp-xl {
		font-size: 7rem;
		line-height: 7.1rem;
	}
}
// Headline smaller serif
@mixin headline-201 {
	@include font-serif-shared-small();

	font-family: $font-serif;
}
// Headline smaller serif italic
@mixin headline-202 {
	@include font-serif-shared-small();

	font-family: $font-serif-italic;
}

@mixin headline-300 {
	font-family: $font-sans-serif-regular;

	@include bp-xs {
		font-size: 2.4rem;
		line-height: 2.6rem;
	}
	@include bp-tablet {
		font-size: 3.2rem;
		line-height: 3.6rem;
	}
	@include bp-l {
		font-size: 3.2rem;
		line-height: 3.6rem;
	}
	@include bp-xl {
		font-size: 4.8rem;
		line-height: 5.3rem;
	}
}

@mixin headline-400 {
	font-family: $font-sans-serif-regular;

	@include bp-xs {
		font-size: 1.8rem;
		line-height: 2rem;
	}
	@include bp-tablet {
		font-size: 2.4rem;
		line-height: 2.6rem;
	}
	@include bp-l {
		font-size: 2.4rem;
		line-height: 2.6rem;
	}
	@include bp-xl {
		font-size: 3.2rem;
		line-height: 2.6rem;
	}
}

// Paragraph and label shared styling
@mixin text-shared {
	font-family: $font-sans-serif-regular;
	line-height: 160%;
}

// Labels
@mixin label-100 {
	@include text-shared();

	font-family: $font-sans-serif-semibold;
	font-size: 1.8rem;

	@include bp-xs {
		font-size: 1.6rem;
	}
}
@mixin label-200 {
	@include text-shared();

	font-family: $font-sans-serif-semibold;
	font-size: 1.6rem;

	@include bp-xs {
		font-size: 1.4rem;
	}
}
// Paragraphs
@mixin paragraph-100 {
	line-height: 160%;
	font-family: $font-sans-serif-light;
	font-size: 1.8rem;

	@include bp-xs {
		font-size: 1.6rem;
	}
}
@mixin paragraph-200 {
	@include text-shared();

	font-family: $font-sans-serif-light;
	font-size: 1.6rem;

	@include bp-xs {
		font-size: 1.4rem;
	}
}

// Interactive and code shared styling
@mixin interactive-shared {
	font-size: 1.2rem;
	letter-spacing: 0.1rem;
	line-height: 125%;
}
// Interactive
@mixin interactive-100 {
	@include interactive-shared();

	font-family: $font-sans-serif-semibold;
	text-decoration: none;
}

// Code
@mixin code-100 {
	@include interactive-shared();

	font-family: $font-code;
	text-transform: uppercase;
}

@mixin default-animation($property) {
	transition: $property 300ms ease-in-out;
}
