<section class="error-stage">
  {% include section-header, title: "Error", number: "404" %}

  <div class="grid error-stage__wrapper col-start-4 col-end-10 col-start-3-s col-end-11-s col-start-1-xs col-end-13-xs">
    <div class="error-stage__headline-container">
      <h3 class="error-stage__headline">
        Sorry, we couldn't find this page
      </h3>
      <p class="error-stage__bg-text">
        404
      </p>
    </div>
    <p class="error-stage__text">
      But no worries, we can always take you back
    </p>
    <a class="error-stage__link" href="/">Home</a>
  </div>
</section>
