@import "variables";

html {
	font-size: 62.5%;
}

body {
	margin: 0;
}

h1 {
	font-size: $font-size-l;
	line-height: $line-height-l;
	font-family: $font-sans-serif;
}

h2 {
	font-size: $font-size-m;
	line-height: $line-height-m;
}

p {
	font-size: $font-size-s;
	line-height: $line-height-s;
}
