@import "variables";

html {
	font-size: 62.5%;
}

body {
	margin: 0;
}

h1 {
	font-size: $font-size--title-1;
	line-height: $line-height--title-1;
	font-family: $font-sans-serif;
}

h2 {
	font-size: $font-size--title-2;
	line-height: $line-height--title-2;
}

p {
	font-size: $font-size--copy-1;
	line-height: $line-height--copy-1;
}
