@import "variables";
@import "mixins";

html {
	font-size: 62.5%;
}

body {
	font-size: $font-size--copy-1;
	margin: 0;
	overflow-x: hidden;
}

h1 {
	font-family: $font-sans-serif;
	font-size: $font-size--title-1;
	font-weight: normal;
	line-height: $line-height--title-1;
	@include bp-xs() {
		font-size: $font-size--title-2;
		line-height: $line-height--title-2;
	}
}

h2 {
	font-size: $font-size--title-2;
	line-height: $line-height--title-2;
}

p {
	font-size: $font-size--copy-1;
	line-height: $line-height--copy-1;
}

a {
	text-decoration: none;
}
