@import "variables";
@import "mixins";

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	@include default-animation(background-color);

	font-size: $font-size--copy-1;
	color: $color-primary--gray;
	margin: 0;
	overflow-x: hidden;
	background-color: $color-primary--white;

	/* stylelint-disable-next-line */
	&.is-dark {
		background-color: $color-primary--black;
		color: $color-primary--white !important;
	}
}

main {
	overflow-x: hidden;
}

h1 {
	@include headline-100();

	color: $color-primary--white;
	font-weight: 200;
}

h3 {
	@include headline-200();

	font-weight: 200;
}

p {
	@include paragraph-100();

	.is-dark & {
		color: $color-primary--white;
	}
}

a {
	@include interactive-100();

	text-decoration: none;
}

ul {
	@include paragraph-100();

	list-style: none;
	margin: 0;
	padding-left: 0;
}

.section-header p {
	@include code-100();

	.is-dark & {
		color: $color-primary--white;
	}
}

.section__number {
	text-align: end;
}

.section__title,
.section__number {
	padding: 3rem 0;
	z-index: 4;

	.is-dark & {
		color: $color-primary--white;
	}
}

// Font Ogg regular - large
.headline-101 {
	@include headline-101();
}

.headline-102 {
	@include headline-102();
}

// Font Ogg italic - smaller
.headline-201 {
	@include headline-201();
}

.headline-202 {
	@include headline-202();
}
