@import "variables";
@import "mixins";

html {
	font-size: 62.5%;
}

body {
	font-size: $font-size--copy-1;
	margin: 0;
	overflow-x: hidden;
	background-color: $color-primary--white;
	transition: background-color 500ms linear;

	/* stylelint-disable-next-line */
	&.is-dark {
		background-color: $color-primary--black;
		color: $color-primary--white !important;
	}
}

h1 {
	@include headline-100();

	color: $color-primary--white;
}

h2 {
	@include headline-200();
}

p {
	@include paragraph-100();

	.is-dark & {
		color: $color-primary--white;
	}
}

a {
	@include interactive-100();

	text-decoration: none;
}

.section-header p {
	@include code-100();

	.is-dark & {
		color: $color-primary--white;
	}
}

.section__number {
	text-align: end;
}

.section__title,
.section__number {
	padding: 3rem 0;
	z-index: 4;

	.is-dark & {
		color: $color-primary--white;
	}
}

// Font Ogg regular - large
.headline-101 {
	@include headline-101();
}

.headline-102 {
	@include headline-102();
}

// Font Ogg italic - smaller
.headline-201 {
	@include headline-201();
}

.headline-202 {
	@include headline-202();
}
