@import "mixins";

$grid-columns: 12 !default;

.grid {
	display: grid;
	grid-template-columns: repeat($grid-columns, 1fr);
	padding: 0;

	> * {
		grid-column-end: span $grid-columns;
	}

	&.is-background--black {
		background: $color-primary--black;
	}
}

@for $i from 1 through $grid-columns {
	.col-#{$i} {
		grid-column-end: span #{$i};
	}
	.col-start-#{$i} {
		grid-column-start: #{$i};
	}
	.col-end-#{$i + 1} {
		grid-column-end: #{$i + 1};
	}
}

.col-start {
	grid-column-start: 1;
}

.col-end {
	grid-column-end: -1;
}

@include bp-xs {
	@for $i from 1 through $grid-columns {
		.grid {
			margin: 0 2.4rem;

			.is-grid--right {
				margin: 0 0 0 2.4rem;
			}
		}
		.col-#{$i}\-xs {
			grid-column-end: span #{$i};
		}
		.col-start-#{$i}\-xs {
			grid-column-start: #{$i};
		}
		.col-end-#{$i + 1}\-xs {
			grid-column-end: #{$i + 1};
		}
	}
}

@include bp-s {
	.grid {
		margin: 0 6.4rem;

		.is-grid--right {
			margin: 0 0 0 6.4rem;
		}
	}
	@for $i from 1 through $grid-columns {
		.col-#{$i}\-s {
			grid-column-end: span #{$i};
		}
		.col-start-#{$i}\-s {
			grid-column-start: #{$i};
		}
		.col-end-#{$i + 1}\-s {
			grid-column-end: #{$i + 1};
		}
	}
}

@include bp-m {
	.grid {
		margin: 0 9.6rem;

		.is-grid--right {
			margin: 0 0 0 9.6rem;
		}
	}
	@for $i from 1 through $grid-columns {
		.col-#{$i}\-m {
			grid-column-end: span #{$i};
		}
		.col-start-#{$i}\-m {
			grid-column-start: #{$i};
		}
		.col-end-#{$i + 1}\-m {
			grid-column-end: #{$i + 1};
		}
	}
}

@include bp-l {
	@for $i from 1 through $grid-columns {
		.grid {
			margin: 0 9.6rem;

			.is-grid--right {
				margin: 0 0 0 9.6rem;
			}
		}
		.col-#{$i}\-l {
			grid-column-end: span #{$i};
		}
		.col-start-#{$i}\-l {
			grid-column-start: #{$i};
		}
		.col-end-#{$i + 1}\-l {
			grid-column-end: #{$i + 1};
		}
	}
}

@include bp-xl {
	@for $i from 1 through $grid-columns {
		.grid {
			margin: 0 9.6rem;

			.is-grid--right {
				margin: 0 0 0 9.6rem;
			}
		}
		.col-#{$i}\-xl {
			grid-column-end: span #{$i};
		}
		.col-start-#{$i}\-xl {
			grid-column-start: #{$i};
		}
		.col-end-#{$i + 1}\-xl {
			grid-column-end: #{$i + 1};
		}
	}
}
