// Breakpoints
@mixin bp-xs {
	@media screen and (max-width: 599px) {
		@content;
	}
}

@mixin bp-s {
	@media screen and (min-width: 600px) and (max-width: 899px) {
		@content;
	}
}

@mixin bp-m {
	@media screen and (min-width: 900px) and (max-width: 1199px) {
		@content;
	}
}

@mixin bp-l {
	@media screen and (min-width: 1200px) and (max-width: 1799px) {
		@content;
	}
}

@mixin bp-xl {
	@media screen and (min-width: 1800px) {
		@content;
	}
}

@mixin bp-tablet {
	@include bp-s {
		@content;
	}

	@include bp-m {
		@content;
	}
}

@mixin bp-desktop {
	@include bp-l {
		@content;
	}

	@include bp-xl {
		@content;
	}
}

// Grid

@mixin dotted-grid {
	background-image: radial-gradient($color-primary--black 5%, transparent 0);
	background-position-x: center;
	background-size: 2rem 2rem;
	content: "";
	position: absolute;
	width: 100%;
	z-index: 3;
}

@mixin grid-right {
	@include bp-xs {
		margin: 0 0 0 2.4rem;
	}

	@include bp-s {
		margin: 0 0 0 3.2rem;
	}

	@include bp-m {
		margin: 0 0 0 3.4rem;
	}

	@include bp-l {
		margin: 0 0 0 4.8rem;
	}

	@include bp-xl {
		margin: 0 0 0 6.4rem;
	}
}

@mixin responsive-spacing($property, $mobile, $tablet, $desktop) {
	@include bp-xs {
		#{$property}: $mobile;
	}
	@include bp-s {
		#{$property}: $tablet;
	}
	@include bp-m {
		#{$property}: $tablet;
	}
	@include bp-l {
		#{$property}: $desktop;
	}
	@include bp-xl {
		#{$property}: $desktop;
	}
}

// SP100 (only desktop)
@mixin spacing-100($property) {
	@include responsive-spacing($property, 0, 0, 0.8rem);
}

// SP200 (only desktop)
@mixin spacing-200($property) {
	@include responsive-spacing($property, 0, 0, 1.6rem);
}

// SP300 (mobile and desktop)
@mixin spacing-300($property) {
	@include responsive-spacing($property, 2rem, 0, 2.4rem);
}

// SP400
@mixin spacing-400($property) {
	@include responsive-spacing($property, 2.4rem, 3.2rem, 4rem);
}

// SP500
@mixin spacing-500($property) {
	@include responsive-spacing($property, 3.2rem, 4.8rem, 5.6rem);
}

// SP600
@mixin spacing-600($property) {
	@include responsive-spacing($property, 4.8rem, 6.4rem, 8rem);
}

// SP700
@mixin spacing-700($property) {
	@include responsive-spacing($property, 6.4rem, 8rem, 9.6rem);
}

// SP800
@mixin spacing-800($property) {
	@include responsive-spacing($property, 9.6rem, 16rem, 20rem);
}
