// Breakpoints
@mixin bp-xs {
	@media screen and (max-width: 599px) {
		@content;
	}
}

@mixin bp-s {
	@media screen and (min-width: 600px) and (max-width: 899px) {
		@content;
	}
}

@mixin bp-m {
	@media screen and (min-width: 900px) and (max-width: 1199px) {
		@content;
	}
}

@mixin bp-l {
	@media screen and (min-width: 1200px) and (max-width: 1799px) {
		@content;
	}
}

@mixin bp-xl {
	@media screen and (min-width: 1800px) {
		@content;
	}
}

@mixin bp-tablet {
	@include bp-s {
		@content;
	}

	@include bp-m {
		@content;
	}
}

@mixin bp-desktop {
	@include bp-l {
		@content;
	}

	@include bp-xl {
		@content;
	}
}

// Grid

@mixin dotted-grid {
	background-image: radial-gradient($color-primary--black 5%, transparent 0);
	background-position-x: center;
	background-size: 2rem 2rem;
	content: "";
	position: absolute;
	width: 100%;
	z-index: 3;
}

@mixin grid-right {
	@include bp-xs {
		margin: 0 0 0 2.4rem;
	}

	@include bp-s {
		margin: 0 0 0 3.2rem;
	}

	@include bp-m {
		margin: 0 0 0 3.4rem;
	}

	@include bp-l {
		margin: 0 0 0 4.8rem;
	}

	@include bp-xl {
		margin: 0 0 0 6.4rem;
	}
}

@mixin responsive-spacing($property, $mobile, $tablet, $desktop) {
	@include bp-xs {
		#{$property}: $mobile;
	}
	@include bp-s {
		#{$property}: $tablet;
	}
	@include bp-m {
		#{$property}: $tablet;
	}
	@include bp-l {
		#{$property}: $desktop;
	}
	@include bp-xl {
		#{$property}: $desktop;
	}
}

// SP100 (only desktop)
@mixin spacing-100($property) {
	@include responsive-spacing($property, 0, 0, 0.8rem);
}

// SP200 (only desktop)
@mixin spacing-200($property) {
	@include responsive-spacing($property, 0, 0, 1.6rem);
}

// SP300 (mobile and desktop)
@mixin spacing-300($property) {
	@include responsive-spacing($property, 2rem, 2rem, 2.4rem);
}

// SP400
@mixin spacing-400($property) {
	@include responsive-spacing($property, 2.4rem, 3.2rem, 4rem);
}

// SP500
@mixin spacing-500($property) {
	@include responsive-spacing($property, 3.2rem, 4.8rem, 5.6rem);
}

// SP600
@mixin spacing-600($property) {
	@include responsive-spacing($property, 4.8rem, 6.4rem, 8rem);
}

// SP700
@mixin spacing-700($property) {
	@include responsive-spacing($property, 6.4rem, 8rem, 9.6rem);
}

// SP800
@mixin spacing-800($property) {
	@include responsive-spacing($property, 9.6rem, 16rem, 20rem);
}

// Fonts

// Headline large sans serif
@mixin headline-100 {
	color: $color-primary--white;
	font-family: $font-sans-serif;
	font-weight: 200;
	@include bp-xs {
		font-size: 4.8rem;
		line-height: 5.8rem;
	}
	@include bp-s {
		font-size: 5.6rem;
		line-height: 6.7rem;
	}
	@include bp-m {
		font-size: 5.6rem;
		line-height: 6.7rem;
	}
	@include bp-l {
		font-size: 6.4rem;
		line-height: 7.7rem;
	}
	@include bp-xl {
		font-size: 6.4rem;
		line-height: 7.7rem;
	}
}

// Headlines large serif - shared
@mixin font-serif-shared-large {
	font-weight: 200;
	@include bp-xs {
		font-size: 5.2rem;
		line-height: 5.8rem;
	}
	@include bp-s {
		font-size: 6.1rem;
		line-height: 6.7rem;
	}
	@include bp-m {
		font-size: 6.1rem;
		line-height: 6.7rem;
	}
	@include bp-l {
		font-size: 6.9rem;
		line-height: 7.7rem;
	}
	@include bp-xl {
		font-size: 6.9rem;
		line-height: 7.7rem;
	}
}
// Headline large serif
@mixin headline-101 {
	@include font-serif-shared-large();

	font-family: $font-serif;
}
// Headline large serif italic
@mixin headline-102 {
	@include font-serif-shared-large();

	font-family: $font-serif-italic;
}

// Headline smaller sans serif
@mixin headline-200 {
	font-family: $font-sans-serif;
	font-weight: 200;
	@include bp-xs {
		font-size: 3.2rem;
		line-height: 3.8rem;
	}
	@include bp-s {
		font-size: 4rem;
		line-height: 4.8rem;
	}
	@include bp-m {
		font-size: 4rem;
		line-height: 4.8rem;
	}
	@include bp-l {
		font-size: 4.8rem;
		line-height: 5.8rem;
	}
	@include bp-xl {
		font-size: 4.8rem;
		line-height: 5.8rem;
	}
}
// Headline smaller serif - shared
@mixin font-serif-shared-small {
	font-weight: 200;
	@include bp-xs {
		font-size: 3.5rem;
		line-height: 3.8rem;
	}
	@include bp-s {
		font-size: 4.4rem;
		line-height: 4.8rem;
	}
	@include bp-m {
		font-size: 4.4rem;
		line-height: 4.8rem;
	}
	@include bp-l {
		font-size: 5.2rem;
		line-height: 5.8rem;
	}
	@include bp-xl {
		font-size: 5.2rem;
		line-height: 5.8rem;
	}
}
// Headline smaller serif
@mixin headline-201 {
	@include font-serif-shared-small();

	font-family: $font-serif;
}
// Headline smaller serif italic
@mixin headline-202 {
	@include font-serif-shared-small();

	font-family: $font-serif-italic;
}

// Paragraph and label shared styling
@mixin text-shared {
	color: $color-primary--gray;
	font-family: $font-sans-serif;
	line-height: 140%;
}
// Labels
@mixin label-100 {
	@include text-shared();

	font-size: 1.8rem;
	font-weight: 600;
	@include bp-xs {
		font-size: 1.6rem;
	}
	@include bp-s {
		font-size: 1.8rem;
	}
}
@mixin label-200 {
	@include text-shared();

	font-size: 1.6rem;
	font-weight: 600;
	@include bp-xs {
		font-size: 1.4rem;
	}
	@include bp-s {
		font-size: 1.6rem;
	}
}
// Paragraphs
@mixin paragraph-100 {
	@include text-shared();

	font-size: 1.8rem;
	font-weight: 200;
	@include bp-xs {
		font-size: 1.6rem;
	}
	@include bp-s {
		font-size: 1.8rem;
	}
}
@mixin paragraph-200 {
	@include text-shared();

	font-size: 1.6rem;
	font-weight: 200;
	@include bp-xs {
		font-size: 1.4rem;
	}
	@include bp-s {
		font-size: 1.6rem;
	}
}

// Interactive and code shared styling
@mixin interactive-shared {
	color: $color-primary--gray;
	font-size: 1.2rem;
	letter-spacing: 0.1rem;
	line-height: 125%;
	text-transform: $uppercase;
}
// Interactive
@mixin interactive-100 {
	@include interactive-shared();

	font-family: $font-sans-serif;
	font-weight: 600;
}
// Code
@mixin code-100 {
	@include interactive-shared();

	font-family: $font-code;
}
