// Colors
$color-primary--black: #181818;
$color-primary--gray: #333;
$color-primary--white: #fff;
$color-secondary--blue: #2d2faf;
$color-secondary--yellow: #ffd400;
$color-secondary--purple: #7c44f1;

// Typography

// would change the naming when we get the real fonts
$font-sans-serif: "suisse-intl", Arial, sans-serif;
$font-serif: "ogg-regular", "Times New Roman", Times, serif;
$font-serif-italic: "ogg-italic", "Times New Roman", Times, serif;

$font-size--title-1: 6rem;
$font-size--title-2: 4.8rem;
$font-size--title-3: 1rem;
$font-size--copy-1: 1.8rem;
$font-size--copy-2: 1.2rem;

$line-height--title-1: 6.3rem;
$line-height--title-2: 5.2rem;
$line-height--copy-1: 2.52rem;
$line-height--copy-2: 1.6rem;

// Mobile Spacings
$spacing--100: 0.8rem;
$spacing--200: 1.6rem;
$spacing--300: 2rem;
$spacing--400: 2.4rem;
$spacing--500: 3.2rem;
$spacing--600: 4.8rem;
$spacing--700: 6.4rem;
$spacing--800: 9.6rem;
$spacing--900: 12rem;

// Tablet Spacings
$spacing--300--tablet: 2.4rem;
$spacing--400--tablet: 3.2rem;
$spacing--500--tablet: 4.8rem;
$spacing--600--tablet: 6.4rem;
$spacing--700--tablet: 8rem;
$spacing--800--tablet: 12rem;
$spacing--900--tablet: 16rem;

// Desktop Spacings
$spacing--100--desktop: 0.8rem;
$spacing--200--desktop: 1.6rem;
$spacing--300--desktop: 2.4rem;
$spacing--400--desktop: 4rem;
$spacing--500--desktop: 5.6rem;
$spacing--600--desktop: 8rem;
$spacing--700--desktop: 9.6rem;
$spacing--800--desktop: 16rem;
$spacing--900--desktop: 20rem;

$uppercase: uppercase;
