// Colors
$color-primary--black: #000000;
$color-primary--white: #ffffff;
$color-secondary--blue: #2d2faf;
$color-secondary--yellow: #ffd400;

// Typography

// would change the naming when we get the real fonts
$font-sans-serif: Helvetica, Arial, sans-serif;
$font-serif: Georgia, "Times New Roman", Times, serif;

$font-size-l: 6rem;
$font-size-m: 4.8rem;
$font-size-s: 1.8rem;
$font-size-xs: 1.2rem;

$line-height-l: 6.3rem;
$line-height-m: 5.2rem;
$line-height-s: 2.52rem;
$line-height-xs: 1.6rem;
