.error-stage {
	height: 80vh;
	display: flex;
	flex-direction: column;

	&__wrapper {
		@include dotted-grid;
		@include spacing-400(padding-top);

		position: relative;
		text-align: center;
		width: auto;
		height: 100%;
	}

	&__headline-container {
		position: relative;
		margin: auto;
	}

	&__bg-text {
		color: $color-primary--beige;
		font-family: $font-serif;
		font-size: 10rem;
		left: 50%;
		margin: 0;
		position: absolute;
		top: 50%;
		transform: translate(-50%, -50%);
		z-index: -1;

		@include bp-tablet {
			font-size: 15rem;
		}

		@include bp-desktop {
			font-size: 20rem;
		}
	}

	&__text {
		@include spacing-500(margin-top);
		@include spacing-500(margin-bottom);
	}

	&__link {
		@include spacing-400(margin-bottom);

		align-items: center;
		border: 1rem solid $color-secondary--yellow;
		border-radius: 50%;
		color: $color-primary--black;
		display: flex;
		height: 8rem;
		justify-content: center;
		margin: 0 auto;
		text-decoration: none;
		text-transform: uppercase;
		width: 8rem;
	}
}
