@import "../core/variables";

.footer {
	@include spacing-600(padding-bottom);
	@include spacing-700(padding-top);

	background: $color-primary--black;
	color: $color-primary--white;
	position: relative;
	margin-top: calc(#{$spacing--800} + #{$spacing--500});

	@include bp-tablet {
		margin-top: calc(#{$spacing--800--tablet} + #{$spacing--500--tablet});
	}

	@include bp-desktop {
		margin-top: calc(#{$spacing--800--desktop} + #{$spacing--500--desktop});
	}

	&__wrapper {
		grid-template-rows: auto auto auto;
	}

	&__s2-conference-links {
		@include paragraph-200();

		grid-row: 3/4;
		color: $color-primary--white;
		margin: 0;

		@include bp-xs() {
			margin-top: $spacing--500;
		}
	}

	&__item {
		padding-bottom: $spacing--100;
	}

	&__link {
		@include paragraph-200();

		color: $color-primary--white;
	}

	&__s2-link {
		@include bp-xs() {
			margin-bottom: $spacing--500;
			position: unset;
		}
	}

	&__s2-links {
		grid-row: 2/4;

		@include bp-xs {
			grid-row: 2/3;
		}
	}
}

.accenture-brand {
	position: absolute;
	top: -5.6rem;
	width: 100%;

	@include bp-xs {
		top: -5.8rem;
	}

	&::before {
		background-color: $color-secondary--purple;
		content: "";
		height: 100%;
		position: absolute;
		right: 0;
		width: 80%;
	}

	&__logo {
		position: relative;
		z-index: 2;
	}

	&__item {
		background-color: $color-secondary--purple;
		padding: 2.1rem 0 $spacing--200 0;
	}
}
