.job-teaser {
	&__wrapper {
		@include dotted-grid();
		@include spacing-800(padding-top);
		@include spacing-700(padding-bottom);

		position: relative;
		text-align: center;
		width: auto;
	}

	&__header {
		left: -5rem;
		margin: 0 auto;
		position: relative;
	}

	&__sketch {
		background: no-repeat url("/assets/meta-assets/sketch-circle.png");
		background-size: 100% 100%;
		margin: -2rem -4.5rem -3rem -6rem;
		padding: 2rem 4.5rem 3rem 6rem;
	}

	&__text {
		margin-top: 3.2rem;
		margin-bottom: 4.8rem;
	}

	&__link {
		@include interactive-100();

		align-items: center;
		border: 1rem solid $color-secondary--yellow;
		border-radius: 50%;
		box-shadow: inset 0 0 0 0 $color-secondary--yellow;
		color: $color-primary--black;
		display: flex;
		height: 8rem;
		justify-content: center;
		margin: 0 auto;
		position: relative;
		text-decoration: none;
		text-transform: uppercase;
		transition: box-shadow 0.3s ease-out, transform 0.3s ease-out;
		width: 8rem;

		&:hover {
			box-shadow: inset 0 0 0 10rem $color-secondary--yellow;
			transition: box-shadow 0.3s ease-in, transform 0.3s ease-in;
			transform: scale(0.8);

			.text-scale {
				transform: scale(0.9);
			}
		}
	}
}
