.job-teaser {
	margin: 16rem 0;

	&__wrapper {
		@include dotted-grid();

		padding: 12rem 0;
		position: relative;
		text-align: center;
		width: auto;
	}

	&__header {
		margin: 0 auto;
	}

	&__doodle {
		background: no-repeat url("./assets/doodle-circle.png");
		background-size: 100% 100%;
		margin: -1rem -2.5rem;
		padding: 1rem 2.5rem;
	}

	&__text {
		margin-bottom: 3rem;
	}

	&__link {
		align-items: center;
		border: 1rem solid $color-secondary--yellow;
		border-radius: 50%;
		color: $color-primary--black;
		display: flex;
		height: 8rem;
		justify-content: center;
		margin: 0 auto;
		text-decoration: none;
		text-transform: uppercase;
		width: 8rem;
	}
}
