@import "../core/variables";
@import "../core/mixins";

.locations__navigation-indicator {
	background-color: $color-secondary--purple;
	border-radius: 2px;
	height: 4px;
	left: calc(-#{$spacing--300});
	position: absolute;
	transform: translateY(-50%);
	transition: top 0.1s ease;
	width: 4px;

	@include bp-xs {
		left: calc(-#{$spacing--100});
	}
}

.locations {
	&__grid {
		grid-gap: 0 1.2rem;
		grid-template-rows: auto auto 1fr;

		@include bp-tablet {
			grid-gap: 0 1.6rem;
			grid-template-rows: auto 1fr;
		}

		@include bp-desktop {
			grid-gap: 0 2.4rem;
			grid-template-rows: auto 1fr;
		}
	}

	&__content {
		opacity: 1;
		transition: opacity 0.1s ease;
		visibility: visible;

		&--hidden {
			opacity: 0;
		}
	}

	&__navigation {
		display: flex;
		flex-direction: column;
		grid-column: 1/3;
		grid-row: 1/3;
		list-style: none;
		margin: 0;
		padding: 0;
		position: relative;

		@include bp-xs {
			grid-column: 1/7;
			grid-row: 1/2;
		}
	}

	&__navigation-item {
		label {
			cursor: pointer;
		}

		& + & {
			@include spacing-100(margin-top);
		}
	}

	&__navigation-button {
		@include paragraph-100();

		background-color: unset;
		border-style: none;
		cursor: pointer;
		padding: 0;

		&:focus {
			outline: 0;
		}

		&--selected {
			@include label-100();

			position: relative;
		}
	}

	&__image-wrapper-small {
		grid-column: 3/8;
		grid-row: 1/2;
		overflow: hidden;

		@include bp-xs {
			grid-column: 7/13;
			grid-row: 3/4;
		}
	}

	&__image-wrapper-large {
		grid-column: 8/13;
		grid-row: 1/3;
		overflow: hidden;

		@include bp-xs {
			grid-column: 1/7;
			grid-row: 2/4;
			margin-top: $spacing--600;
		}
	}

	&__studio-info {
		grid-column: 3/8;
		grid-row: 2/3;

		@include bp-xs {
			grid-column: 7/13;
			grid-row: 1/3;
		}

		&-grid {
			display: grid;
			grid-gap: $spacing--400;
			grid-template-columns: 1fr;
			margin-bottom: $spacing--400;

			@include bp-tablet {
				grid-gap: $spacing--400--tablet $spacing--200;
				grid-template-columns: 1fr;
				margin-top: $spacing--400--tablet;
			}

			@include bp-desktop {
				grid-gap: $spacing--400--desktop $spacing--300--tablet;
				grid-template-columns: 1fr 1fr;
				margin-top: $spacing--400--desktop;
			}
		}

		&-container {
			@include paragraph-200();

			display: flex;
			flex-direction: column;
			font-style: normal;
			justify-content: space-between;

			address {
				font-style: normal;
			}

			a {
				@include paragraph-200();

				letter-spacing: normal;
				text-transform: none;
			}

			&--name {
				@include label-200();
				@include spacing-100(margin-bottom);
			}
		}
	}

	&__image {
		width: 100%;
	}
}
