@import "../core/variables";
@import "../core/mixins";

#locations__navigation-indicator {
	width: 4px;
	height: 4px;
	background-color: $color-secondary--purple;
	position: absolute;
	border-radius: 2px;
	left: calc(- #{$spacing--300});
	transform: translateY(-50%);
	transition: top 0.1s ease;

	@include bp-xs {
		left: calc(- #{$spacing--100});
	}
}

.locations {
	&__grid {
		grid-template-rows: auto 1fr;

		@include bp-xs {
			grid-template-rows: auto auto 1fr;
			grid-gap: 1.2rem;
		}

		@include bp-s {
			grid-gap: 1.6rem;
		}

		@include bp-m {
			grid-gap: 1.6rem;
		}

		@include bp-l {
			grid-gap: 2.4rem;
		}

		@include bp-xl {
			grid-gap: 2.4rem;
		}
	}

	&__content {
		opacity: 1;
		visibility: visible;
		transition: opacity 0.2s ease;

		&--hidden {
			opacity: 0;
		}
	}

	&__navigation {
		position: relative;
		display: flex;
		flex-direction: column;
		list-style: none;
		margin: 0;
		padding: 0;
		grid-row: 1/3;

		@include bp-xs {
			grid-row: 1/2;
		}
	}

	&__navigation-item {
		label {
			cursor: pointer;
		}

		& + & {
			margin-top: $spacing--100;
		}
	}

	&__navigation-button {
		border: none;
		background-color: unset;
		padding: 0;
		cursor: pointer;
		font-size: $font-size--copy-1;

		&--selected {
			font-weight: bold;
			position: relative;
		}
	}

	&__image-wrapper-small {
		overflow: hidden;
		grid-row: 1/2;

		@include bp-xs {
			grid-row: 3/4;
		}
	}

	&__image-wrapper-large {
		overflow: hidden;
		grid-row: 1/3;

		@include bp-xs {
			grid-row: 2/4;
			padding-top: $spacing--400;
		}
	}

	&__studio-info {
		grid-row: 2/3;

		@include bp-xs {
			grid-row: 1/3;
		}

		&-grid {
			display: grid;
			grid-gap: $spacing--300;
			grid-template-columns: 1fr;
			padding-bottom: $spacing--300;

			@include bp-m {
				grid-gap: $spacing--400;
				grid-template-columns: 1fr;
			}

			@include bp-l {
				grid-gap: $spacing--400;
				grid-template-columns: 1fr 1fr;
			}

			@include bp-xl {
				grid-gap: $spacing--400;
				grid-template-columns: 1fr 1fr;
			}
		}

		&-container {
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			address {
				font-style: normal;
			}

			a {
				text-decoration: none;
				color: $color-primary--black;
			}

			h4 {
				margin: 0 0 $spacing--300;

				@include bp-xs {
					margin: 0 0 $spacing--100;
				}
			}
		}
	}

	&__image {
		width: 100%;
	}
}
