@import "../core/variables";
@import "../core/mixins";

.locations__navigation-indicator {
	background-color: $color-secondary--purple;
	border-radius: 2px;
	height: 4px;
	left: calc(-#{$spacing--300});
	position: absolute;
	transform: translateY(-50%);
	transition: top 0.1s ease;
	width: 4px;

	@include bp-xs {
		left: calc(-#{$spacing--100});
	}
}

.locations {
	&__grid {
		grid-template-rows: auto 1fr;

		@include bp-xs {
			grid-gap: 1.2rem;
			grid-template-rows: auto auto 1fr;
		}

		@include bp-s {
			grid-gap: 1.6rem;
		}

		@include bp-m {
			grid-gap: 1.6rem;
		}

		@include bp-l {
			grid-gap: 2.4rem;
		}

		@include bp-xl {
			grid-gap: 2.4rem;
		}
	}

	&__content {
		opacity: 1;
		transition: opacity 0.2s ease;
		visibility: visible;

		&--hidden {
			opacity: 0;
		}
	}

	&__navigation {
		display: flex;
		flex-direction: column;
		grid-row: 1/3;
		list-style: none;
		margin: 0;
		padding: 0;
		position: relative;

		@include bp-xs {
			grid-row: 1/2;
		}
	}

	&__navigation-item {
		label {
			cursor: pointer;
		}

		& + & {
			margin-top: $spacing--100;
		}
	}

	&__navigation-button {
		@include paragraph-100();

		background-color: unset;
		border-style: none;
		cursor: pointer;

		&:focus {
			outline: 0;
		}

		&--selected {
			@include label-100();

			position: relative;
		}
	}

	&__image-wrapper-small {
		grid-row: 1/2;
		overflow: hidden;

		@include bp-xs {
			grid-row: 3/4;
		}
	}

	&__image-wrapper-large {
		grid-row: 1/3;
		overflow: hidden;

		@include bp-xs {
			grid-row: 2/4;
			padding-top: $spacing--400;
		}
	}

	&__studio-info {
		grid-row: 2/3;

		@include bp-xs {
			grid-row: 1/3;
		}

		&-grid {
			display: grid;
			grid-gap: $spacing--300;
			grid-template-columns: 1fr;
			padding-bottom: $spacing--300;

			@include bp-m {
				grid-gap: $spacing--400;
				grid-template-columns: 1fr;
			}

			@include bp-l {
				grid-gap: $spacing--400;
				grid-template-columns: 1fr 1fr;
			}

			@include bp-xl {
				grid-gap: $spacing--400;
				grid-template-columns: 1fr 1fr;
			}
		}

		&-container {
			@include paragraph-200();

			display: flex;
			flex-direction: column;
			font-style: normal;
			justify-content: space-between;

			address {
				@include spacing-300(margin-bottom);

				font-style: normal;
			}

			a {
				@include paragraph-200();

				letter-spacing: normal;
				text-transform: none;
			}

			span {
				@include label-200();
				@include spacing-400(margin-bottom);
			}
		}
	}

	&__image {
		width: 100%;
	}
}
