@import "../core/variables";

.nav {
	background: $color-primary--white;
	// font-family: $font-sans-serif;
	font-size: $font-size--copy-2;
	height: 9.5rem;
	text-transform: $uppercase;

	&__logo {
		@include interactive-100();

		margin: auto 0;
	}

	&__list {
		align-items: stretch;
		display: flex;
		justify-content: space-evenly;
		line-height: 9.5rem;
		margin: auto 0;
		padding-left: 0;

		&__item {
			list-style-type: none;
		}

		&__link {
			color: $color-primary--black;
			display: inline-block;
			text-decoration: none;
		}
	}
}
