.offering {
	position: relative;

	&__heading-wrapper {
		overflow-x: hidden;
	}

	&__heading-top {
		margin-bottom: 2.4rem;

		@include bp-xs() {
			margin-bottom: 0;
		}
	}

	&__heading-bottom {
		margin: 0;
	}

	&__heading-top,
	&__heading-bottom {
		display: inline-block;
		font-size: 9.6rem;
		line-height: 120%;
		white-space: nowrap;
		transition: transform 500ms ease;
		-webkit-transform-style: preserve-3d;
		-webkit-backface-visibility: hidden;

		@include bp-xs() {
			font-size: 6rem;
			margin-bottom: 0.8rem;
		}

		@include bp-tablet() {
			font-size: 7rem;
		}

		&.is-mobile {
			display: none;

			@include bp-xs() {
				display: block;
				margin: 0 0 0.8rem;
			}
		}

		.is-font-ogg {
			font-family: $font-serif;
		}

		@media (prefers-reduced-motion: reduce) {
			position: relative;
			left: 50%;
			transform: translateX(-50%);
		}
	}

	&--wrapper {
		@include spacing-500(padding-top);

		position: relative;

		&::after {
			@include dotted-grid();
			@include grid-right();

			position: absolute;
			top: 0;
			bottom: 0;
			filter: invert(0);
		}
	}

	&--info {
		@include spacing-700(padding-top);
		@include spacing-700(padding-bottom);

		position: relative;
		z-index: 4;
	}

	&__title {
		@include label-100;
	}

	&__item {
		@include paragraph-200();

		padding-bottom: 0.8rem;
	}
}
