@import "../core/mixins";

.overlap {
	overflow: hidden;
	position: relative;

	&::after {
		@include grid-right();
		@include dotted-grid();

		height: 50%;
		pointer-events: none;
		top: 5rem;
		z-index: 3;

		@include bp-xs() {
			height: 40%;
			top: 0;
		}
	}

	&__wrapper {
		@include spacing-700(margin-top);
		@include spacing-800(margin-bottom);
	}

	&__item {
		@include spacing-400(margin-top);

		grid-row: 1;
		position: relative;

		&--img {
			align-items: center;
			display: flex;
		}

		&:nth-child(2) {
			z-index: 2;

			.overlap__circle-container {
				position: relative;
			}

			.overlap__circle {
				position: absolute;
				right: -20%;
				top: -13%;
				width: 40%;
				z-index: 4;
			}
		}
	}

	&__line-container {
		@include default-animation(background-color);

		background-color: $color-primary--white;
		height: 55%;
		position: absolute;
		right: -1rem;
		top: 50%;
		width: 1.7rem;

		.is-dark & {
			background-color: $color-primary--black;
		}
	}

	&__line {
		background-color: $color-secondary--yellow;
		height: 10rem;
		left: 0;
		position: absolute;
		top: 100%;
		width: 0.3rem;
		@include bp-xs {
			display: none;
		}
	}

	&__img--left,
	&__img--right {
		img {
			height: auto;
			width: 100%;
		}
	}

	&__img--left {
		img {
			z-index: 2;
		}
	}

	&__txt {
		@include spacing-400(margin-left);

		margin: auto;
		@include bp-xs() {
			@include spacing-400(margin-top);

			grid-row: 2;
			margin-left: initial;
		}
		@include bp-desktop {
			@include spacing-400(margin-right);
		}
	}

	&__header > * {
		display: block;

		@include bp-xs() {
			display: inline-block;

			&:nth-child(2),
			&:nth-child(3) {
				margin-left: initial;
			}

			&:nth-child(2) {
				@include headline-201();
			}
		}

		&:nth-child(2) {
			margin-left: 3rem;
		}

		&:nth-child(3) {
			margin-left: 6rem;
		}
	}
}
