@import "../core/mixins";

.overlap {
	overflow-x: hidden;
	position: relative;

	&::after {
		@include grid-right();
		@include dotted-grid();

		height: 55%;
		top: 12rem;
		z-index: 3;

		@include bp-xs() {
			height: 40%;
			top: 0;
		}
	}

	&__wrapper {
		margin-top: 12%;
		position: relative;
	}

	&__item {
		grid-row: 1;

		&:first-child {
			padding: 0 10%;
			position: relative;
			@include bp-xs() {
				padding: 0;
			}

			.overlap__circle {
				left: 26%;
				position: absolute;
				top: 15%;
				width: 15%;
				z-index: 4;

				// stylelint-disable-next-line max-nesting-depth
				@include bp-xs() {
					left: 15%;
					top: 14%;
				}
			}
		}

		&:nth-child(2) {
			z-index: 2;
		}
	}

	&__img--left,
	&__img--right {
		height: auto;
		width: 100%;
	}

	&__img--left {
		padding-top: 50%;
		z-index: 2;
	}

	&__txt {
		margin: auto;
		@include bp-xs() {
			grid-row: 2;
		}
	}
}
