@import "../core/mixins";
.overlap {
	position: relative;
	&::after {
		@include grid-right();
		@include dotted-grid();
		height: 55%;
		z-index: 3;
		top: 12rem;
		@include bp-xs() {
			top: 0;
			height: 40%;
		}
	}
	&__wrapper {
		position: relative;
		margin-top: 12%;
	}
	&__item {
		grid-row: 1;
		&:first-child {
			position: relative;
			padding: 0 10%;
			.overlap__circle {
				position: absolute;
				left: 26%;
				width: 15%;
				top: 15%;
				z-index: 4;
				@include bp-xs() {
					left: 15%;
					top: 14%;
				}
			}
			@include bp-xs() {
				padding: 0;
			}
		}
		&:nth-child(2) {
			z-index: 2;
		}
	}
	&__img--left,
	&__img--right {
		width: 100%;
		height: auto;
	}
	&__img--left {
		padding-top: 50%;
		z-index: 2;
	}
	&__txt {
		margin: auto;
		@include bp-xs() {
			grid-row: 2;
		}
	}
}
