@import "../core/variables";
@import "../core/mixins";

.section-header {
	display: flex;
	justify-content: space-between;
	margin-bottom: $spacing--300;
	margin-top: $spacing--200;

	@include bp-tablet {
		margin-bottom: $spacing--300--tablet;
		margin-top: $spacing--200;

		&__small {
			margin-bottom: $spacing--700--tablet;
			margin-top: $spacing--500--tablet;
		}

		&__medium {
			margin-bottom: $spacing--700--tablet;
			margin-top: $spacing--800--tablet;
		}

		&__large {
			margin-bottom: $spacing--700--tablet;
			margin-top: $spacing--900--tablet;
		}
	}

	@include bp-desktop {
		margin-bottom: $spacing--300--desktop;
		margin-top: $spacing--200;

		&__small {
			margin-bottom: $spacing--700--desktop;
			margin-top: $spacing--500--desktop;
		}

		&__medium,
		&__large {
			margin-bottom: $spacing--700--desktop;
			margin-top: $spacing--800--desktop;
		}
	}

	&__title,
	&__number {
		@include code-100();

		font-weight: initial;
		margin: 0;
		z-index: 10;
	}

	&__small {
		margin-bottom: $spacing--700;
		margin-top: $spacing--500;
	}

	&__medium {
		margin-bottom: $spacing--700;
		margin-top: $spacing--800;
	}

	&__large {
		margin-bottom: $spacing--700;
		margin-top: $spacing--900;
	}
}
