@import "../core/variables";
@import "../core/mixins";

.section-header {
	@include spacing-200(margin-top);
	@include spacing-300(margin-bottom);

	display: flex;
	justify-content: space-between;
	margin-bottom: $spacing--300;
	margin-top: $spacing--200;

	&__title,
	&__number {
		@include code-100();

		font-weight: initial;
		margin: 0;
		z-index: 10;

		.is-dark & {
			color: $color-primary--white;
		}
	}

	&__small {
		@include spacing-700(margin-bottom);
		@include spacing-500(margin-top);
	}

	&__medium {
		@include spacing-700(margin-bottom);
		@include spacing-800(margin-top);
	}

	&__large {
		@include spacing-700(margin-bottom);
		@include spacing-900(margin-top);
	}
}
