.slider {
	@include spacing-800(margin-bottom);

	position: relative;

	.swiper-container {
		@include bp-xs {
			margin-left: 2.4rem;
		}
		@include bp-s {
			margin-left: 6.4rem;
		}
		@include bp-m {
			margin-left: 6.4rem;
		}
		@include bp-l {
			margin-left: 9.6rem;
		}
		@include bp-xl {
			margin-left: 9.6rem;
		}

		.swiper-slide-active {
			margin-right: 80px;
		}

		img {
			width: 100%;
		}

		.swiper-slide {
			width: 28vw;

			@include bp-xs {
				width: 70vw;
			}
		}
	}
}
