.slider {
	overflow-x: hidden;
	position: relative;

	&__heading {
		font-size: 48px;
		max-width: 250px;

		@include bp-xs() {
			font-size: 32px;
			max-width: 250px;
		}
	}

	&__circle-text {
		pointer-events: none;
		position: absolute;
		right: 10%;
		top: -149px;
		transition: transform 0.3s ease-in-out;
		width: 300px;
		z-index: 1;

		@include bp-xs() {
			right: -75px;
			top: -75px;
			width: 150px;
		}
	}

	// stylelint-disable-next-line selector-class-pattern
	.glide__slide img {
		width: 100%;
	}
}
