.slider {
	@include spacing-800(margin-bottom);

	position: relative;

	&__heading {
		font-size: 4.8rem;
		max-width: 250px;

		@include bp-xs() {
			font-size: 3.2rem;
			margin-bottom: 2.4rem;
			max-width: 250px;
		}

		@include bp-s {
			margin-bottom: 3.2rem;
		}
	}

	&__copy {
		font-size: 1.8rem;
		margin: 0 0 9.6rem;
		max-width: 360px;

		@include bp-xs() {
			margin-bottom: 6.4rem;
			max-width: unset;
		}

		@include bp-s {
			margin-bottom: 8rem;
		}
	}

	.swiper-container {
		@include bp-xs {
			margin-left: 2.4rem;
		}
		@include bp-s {
			margin-left: 6.4rem;
		}
		@include bp-m {
			margin-left: 6.4rem;
		}
		@include bp-l {
			margin-left: 9.6rem;
		}
		@include bp-xl {
			margin-left: 9.6rem;
		}

		.swiper-slide-active {
			margin-right: 80px;
		}

		img {
			width: 100%;
		}

		.swiper-slide {
			width: 28vw;

			@include bp-xs {
				width: 70vw;
			}
		}
	}
}
