@import "../core/variables";

.stage {
	@include grid-right();

	background: $color-primary--black;
	color: $color-primary--white;
	height: 90vh;
	position: relative;

	&__title,
	&__video {
		margin: auto;
		@include bp-xs() {
			margin: 0;
		}
	}

	&__video {
		&__item {
			width: 100%;
		}
	}

	&__overlap {
		@include default-animation(background-color);

		background-color: $color-primary--white;
		bottom: -16rem;
		height: 24rem;
		position: absolute;
		width: 100%;
		z-index: 4;

		@include bp-xs() {
			bottom: -10rem;
			height: 15rem;
		}

		@include bp-s() {
			bottom: -10rem;
			height: 16rem;
		}

		@include bp-m() {
			bottom: -10rem;
			height: 18rem;
		}

		.is-dark & {
			background-color: $color-primary--black;
		}
	}
}
