.work {
	overflow-y: auto;
	position: relative;

	&::after {
		@include dotted-grid();

		bottom: 50%;
		content: "";
		left: 0;
		top: 0;
		right: 30%;
		width: auto;
		filter: invert(0);
	}

	.is-dark & {
		&::after {
			filter: invert(1);
		}
	}

	&__headline > .headline-201 {
		.is-dark & {
			color: $color-primary--white;
		}
	}

	&__headline {
		@include spacing-700(margin-bottom);

		margin: 0;

		.is-dark & {
			color: $color-primary--white;
		}

		.is-underline {
			position: relative;

			&::after {
				position: absolute;
				content: "";
				bottom: 0;
				left: -1rem;
				right: -1rem;
				height: 1rem;
				filter: invert(0);
				background: url("./assets/underline.svg");
				background-repeat: no-repeat;
				background-position: 100%;
			}

			.is-dark & {
				/* stylelint-disable-next-line */
				&::after {
					filter: invert(1);
				}
			}
		}
	}

	&__inner-wrapper {
		position: relative;
	}

	&__logos {
		display: flex;
		flex-wrap: wrap;
		margin: 12rem 0 8rem;

		@include bp-xs() {
			margin: 5.6rem 0 1.6rem;
		}

		@include bp-s() {
			margin: 8rem 0 4rem;
		}

		&-el-wrapper {
			@include default-animation(filter);

			position: relative;
			width: 20%;
			padding: $spacing--400--desktop 0;
			text-align: center;
			filter: invert(1);

			@include bp-xs() {
				width: 50%;
			}

			@include bp-s() {
				width: 50%;
			}

			.is-dark & {
				filter: invert(0);
			}
		}

		img {
			max-height: 7.2rem;
			width: 100%;
		}
	}

	&__video {
		&-container {
			@include responsive-spacing(margin-left, 2.4rem, 6.4rem, 9.6rem);

			position: relative;
			overflow-x: hidden;
		}

		&-preview-loop {
			position: relative;
			width: 100%;
			z-index: 4;
			max-height: 100vh;

			@include bp-xs() {
				width: 150vw;
			}

			&.is-hidden {
				display: none;
			}
		}

		&-element {
			display: none;
			position: relative;
			width: 100%;
			z-index: 4;
			max-height: 100vh;

			&.is-visible {
				display: block;
			}
		}
	}

	&__video-media-control {
		position: absolute;
		top: 50%;
		right: 50%;
		z-index: 5;
		transform: translate(50%, -50%);
		text-transform: uppercase;
		background: $color-primary--white;
		border-radius: 50%;
		border: transparent;
		height: 10rem;
		width: 10rem;
		color: $color-primary--black;
		cursor: pointer;

		&:focus {
			outline: none;
		}

		&.is-hidden {
			display: none;
		}
	}
}
