<footer class="footer">
  <div class="accenture-brand">
    <div class="grid">
      <div class="accenture-brand__item col-start-11 col-end-13
                          col-start-9-s col-end-11-s
                          col-start-5-xs col-end-12-xs">
        <img alt="Accenture Interactive" class="accenture-brand__logo" src="/assets/accenture-logo.svg">
      </div>
    </div>
  </div>
  <div class="grid footer__wrapper">
    <a class="footer__s2-link col-start-1 col-end-6" href="/">
      <img alt="SinnerSchrader" src="/assets/sinnerschrader-logo.svg"/>
    </a>
    <span class="footer__s2-conference-links col-start-1 col-end-12">
      Creator of <a class="footer__link underline-white" href="https://nextconf.eu/" rel="external nofollow">NEXT Conference</a>
      <br/>
      and enabler of <a class="footer__link" href="https://jsconf.eu/" rel="external nofollow">JSConf EU</a>
    </span>
    <div class="footer__s2-links col-start-9 col-end-11 col-start-7-m col-end-10-m
                    col-start-6-s col-end-9-s col-start-1-xs col-end-7-xs">
      <ul class="footer__list">
        <li class="footer__item">
          <a class="footer__link" href="mailto:info@sinnerschrader.com">Contact</a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="https://github.com/sinnerschrader/sinnerschrader-reboot/blob/main/pages/data-policy.md" rel="external nofollow">Data Policy</a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="https://github.com/sinnerschrader/sinnerschrader-reboot/blob/main/pages/imprint.md" rel="external nofollow">Imprint</a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="https://github.com/sinnerschrader/sinnerschrader-reboot" rel="external nofollow">Improve this site</a>
        </li>
      </ul>
    </div>
    <div class="footer__s2-links col-start-11 col-end-13 col-start-10-m col-end-13-m col-start-10-s col-end-13-s
                    col-start-7-xs col-end-13-xs">
      <ul class="footer__list">
        <li class="footer__item">
          <a class="footer__link" href="https://twitter.com/sinnerschrader" rel="external nofollow">Twitter</a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="https://www.facebook.com/SinnerSchrader" rel="external nofollow">Facebook</a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="https://www.linkedin.com/company/sinnerschrader/" rel="external nofollow">Linkedin</a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="https://medium.com/still-day-one" rel="external nofollow" rel="external nofollow">Medium</a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="https://dev.to/s2engineers" rel="external nofollow">DEV Community</a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="https://github.com/sinnerschrader" rel="external nofollow">GitHub</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
