<footer class="footer">
    <div class="accenture-brand">
        <div class="grid">
            <div class="accenture-brand__item col-start-11 col-end-13
                col-start-9-s col-end-11-s
                col-start-7-xs col-end-12-xs">
                <img class="accenture-brand__logo"
                    src="./assets/accenture-logo.svg"
                    alt="Accenture Interactive">
            </div>
        </div>
    </div>
    <div class="grid footer__wrapper">
        <div class="footer__s2 col-start-1 col-end-6">
            <a href="#">
                <img
                src="./assets/sinnerschrader-logo.svg"
                alt="Sinnerschrader">
            </a>
            <p class="footer__s2__creator">Creator of Js conference <br/> and
                    NEXT conference</p>
            </div>
            <div class="col-start-9 col-end-11
                col-start-6-s col-end-9-s col-start-1-xs col-end-7-xs">
                <ul class="footer__list">
                    <li class="footer__item">
                        <a class="footer__link" href="mailto:info@sinnerschrader.com">Contact</a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__link" rel="external nofollow" href="#">Data Policy</a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__link" rel="external nofollow" href="#">Imprint</a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__link" rel="external nofollow" href="https://github.com/sinnerschrader/sinnerschrader-reboot">Improve this site</a>
                    </li>
                </ul>
            </div>
            <div class="col-start-11 col-end-13 col-start-9-s col-end-11-s
                col-start-7-xs col-end-13-xs">
                <ul class="footer__list">
                    <li class="footer__item">
                        <a class="footer__link" rel="external nofollow" href="https://twitter.com/sinnerschrader">Twitter</a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__link" rel="external nofollow" href="https://www.facebook.com/SinnerSchrader">Facebook</a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__link" rel="external nofollow" href="https://www.linkedin.com/company/sinnerschrader/">Linkedin</a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__link" rel="external nofollow" rel="external nofollow" href="https://medium.com/still-day-one">Medium</a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__link" rel="external nofollow" href="https://dev.to/s2engineers">DEV Community</a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__link" rel="external nofollow" href="https://github.com/sinnerschrader">GitHub</a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
