<head>
  <link rel="stylesheet" type="text/css" href="{{ './index.css' | url }}"/>
  <link rel="preload" href="./assets/fonts/Ogg-RegularItalic.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="./assets/fonts/Ogg-Regular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="./assets/fonts/RobotoMono-Regular.ttf" as="font" type="font/ttf" crossorigin>
  <link rel="preload" href="./assets/fonts/SuisseIntl-Regular-WebM.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="./assets/fonts/SuisseIntl-SemiBold-WebM.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="./assets/fonts/SuisseIntl-Light-WebM.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preconnect" href="https://sinnerschrader.jobs" crossorigin/>
  <link rel="preconnect" href="https://sinnerschrader.news" crossorigin />
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <meta charset="utf-8"/>

  <link rel="mask-icon" href="./assets/favicon.svg">
  <link rel="alternate icon" type="image/png" href="./assets/favicon.png">
  <link rel="icon" type="image/svg+xml" href="./assets/favicon.svg">

  <!-- Primary Meta Tags -->
  <title>SinnerSchrader | Experience Design and Engineering Agency.</title>
  <meta name="title" content="SinnerSchrader | Experience Design and Engineering Agency.">
  <meta name="description" content="Born from digital, evolving over 2 decades, SinnerSchrader is a leading
  design and engineering agency headquartered in Hamburg, Germany.">

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://sinnerschrader.com/">
  <meta property="og:title" content="SinnerSchrader | Experience Design and Engineering Agency.">
  <meta property="og:description" content="Born from digital, evolving over 2 decades, SinnerSchrader is a leading
  design and engineering agency headquartered in Hamburg, Germany.">
  <meta property="og:image" content="https://sinnerschrader.com/assets/images/meta_s2_social.jpg">

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://sinnerschrader.com/">
  <meta property="twitter:title" content="SinnerSchrader | Experience Design and Engineering Agency.">
  <meta property="twitter:description" content="Born from digital, evolving over 2 decades, SinnerSchrader is a leading
  design and engineering agency headquartered in Hamburg, Germany.">
  <meta property="twitter:image" content="https://sinnerschrader.com/assets/images/meta_s2_social.jpg">
</head>
