<section class="job-teaser">
	{% include section-header, title: "Hey There", number: "05", type: "large" %}
	
	<div class="grid job-teaser__wrapper">
		<div class="col-start-4 col-end-10 col-start-3-s col-end-11-s col-start-1-xs col-end-13-xs">
			<h2 class="job-teaser__header">
				We <span class="job-teaser__doodle">love</span> <span class="headline-201">thinkers</span><br />
				that do.
			</h2>
			<p class="job-teaser__text">
				Ever thought of amplifying your impact to the world? Ever clicked on a call to action in a yellow circle?
			</p>
			<a class="job-teaser__link" href="https://sinnerschrader.jobs">Join us</a>
		</div>
	</div>
</section>
