<section class="job-teaser">
	<div class="grid">
		<div class="section__title col-4">
			<p>Hey there</p>
		</div>
		<div class="section__number col-start-12 col-end-13">
			<p>05</p>
		</div>
	</div>
	<div class="grid job-teaser__wrapper">
		<div class="col-start-4 col-end-10 col-start-3-s
			col-end-11-s col-start-1-xs col-end-13-xs">
			<h2 class="job-teaser__header">
				We <span class="job-teaser__doodle">love</span> thinkers<br />
				that do.
			</h2>
			<p class="job-teaser__text">
				Ever thought of amplifying your impact to the world? Ever clicked on a call
				to action in a yellow circle?
			</p>
			<a class="job-teaser__link" href="#">Join us</a>
		</div>
	</div>
</section>
