<nav class="nav grid" aria-label="Main Navigation">
    <div class="nav__logo col-2">
        <span>sinnerschrader</span>
    </div>
    <div class="col-start-11 col-end-13 col-start-9-xs col-end-13-xs">
        <ul class="nav__list" role="navigation">
            <li class="nav__list__item" role="navigation__item"
                aria-label="jobs"><a
                    class="nav__list__link" rel="external nofollow" href="https://sinnerschrader.jobs">jobs</a></li>
            <li class="nav__list__item" role="navigation__item"
                aria-label="news"><a
                    class="nav__list__link" rel="external nofollow" href="https://sinnerschrader.news">news</a></li>
        </ul>
    </div>
</nav>
