<section class="offering">
    <div class="grid">
        <div class="section__title col-2">
            <p>Offering</p>
        </div>
        <div class="section__number col-start-12 col-end-13">
            <p>02</p>
        </div>
    </div>
</section>
