<section class="overlap">
	<div class="grid">
		<div class="section__title col-2">
			<p>About</p>
		</div>
		<div class="section__number col-start-12 col-end-13">
			<p>01</p>
		</div>
	</div>
<!--	<div class="grid is-grid--right is-dot-grid"></div>-->
	<div class="grid overlap__wrapper">
		<div class="overlap__item overlap__item--img col-start-4 col-end-10
			col-start-4-xs col-end-13-xs">
			<img
				class="overlap__img--right"
				src="https://images.unsplash.com/photo-1582547704707-10eafd5d4a37?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80"
				alt="old robot"
				/>
			<img class="overlap__circle" src="../assets/circle-overlap.svg" alt="">
		</div>
		<div class="overlap__item col-start-3 col-end-6 col-start-1-xs col-end-6-xs">
			<img
				class="overlap__img--left"
				src="https://images.unsplash.com/photo-1516192518150-0d8fee5425e3?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=752&q=80"
				alt="fancy robot"
				/>
		</div>
		<article class="overlap__item overlap__txt col col-start-10 col-end-13
			col-start-1-xs col-end-13-xs">
			<h2>Born from<br>digital,</h2>
			<p>
				By utilizing human science and design methodologies in an interdisciplinary
				team, we empower our clients to design human and society
				relevant innovation. In close co-creation with our experienced partners in
				crime - our clients - we translate systems into
				transformative strategies.
			</p>
		</article>
	</div>
</section>
