<section class="overlap grid">
	<div class="overlap__container col col-start-3 col-end-9 col-start-1-xs col-end-13-xs">
		<img
			class="overlap__img1"
			src="https://images.unsplash.com/photo-1582547704707-10eafd5d4a37?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80"
			alt="old robot"
		/>
		<img
			class="overlap__img2"
			src="https://images.unsplash.com/photo-1516192518150-0d8fee5425e3?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=752&q=80"
			alt="fancy robot"
		/>
	</div>
	<article class="overlap__txt col col-start-9 col-end-13 col-start-1-xs col-end-13-xs">
		<h2>We are thinkers that do.</h2>
		<p>
			By utilizing human science and design methodologies in an interdisciplinary team, we empower our clients to design human and society
			relevant innovation. In close co-creation with our experienced partners in crime - our clients - we translate systems into
			transformative strategies.
		</p>
	</article>
</section>
