<section class="overlap">
	{% include section-header, title: "Idea", number: "01" %}
	
	<div class="grid overlap__wrapper">
		<div class="overlap__item overlap__item--img col-start-4 col-end-10
			col-start-4-xs col-end-13-xs">
			<picture class="overlap__img--right">
				<source
				        srcset="./assets/born_from_digital_2.webp"
				        type="image/webp"
				        alt="old robot">
				<img src="./assets/born_from_digital_2.jpg" alt="old robot">
			</picture>
			<img class="overlap__circle" src="../assets/circle-overlap.svg" alt="">
		</div>
		<div class="overlap__item col-start-3 col-end-6 col-start-1-xs col-end-6-xs">
			<picture class="overlap__img--left">
				<source
						srcset="./assets/born_from_digital_1.webp"
						type="image/webp"
						alt="fancy robot">
				<img src="./assets/born_from_digital_1.jpg" alt="fancy robot">
			</picture>
		</div>
		<article class="overlap__item overlap__txt col col-start-10 col-end-13
			col-start-1-xs col-end-13-xs">
			<h2>Born from<br>digital,</h2>
			<p>
				By utilizing human science and design methodologies in an interdisciplinary
				team, we empower our clients to design human and society
				relevant innovation. In close co-creation with our experienced partners in
				crime - our clients - we translate systems into
				transformative strategies.
			</p>
		</article>
	</div>
</section>
