{% if type %} {% assign typeClassName = "section-header__" | append: type %} {% else %} {% assign typeClassName = "" %} {% endif %}

<header class="grid section-header {{ typeClassName }}">
	<h2 class="section-header__title">{{ title }}</h2>
	<p class="section-header__number">{{ number }}</p>
</header>
