<section class="slider">
	{% include section-header, title: "Culture", number: "03", type: "medium" %}
	<div class="grid">
		<h3 class="slider__heading"><span class="slide-in" data-delay="0s">We are</span><span
				class="headline-201 slide-in" data-delay="0.5s">community.</span></h3>
		<p class="slider__copy">
			Every talent is special, every talent is needed. That’s why we live in a
			culture of cultures, open and inclusive. Welcoming everyone
			that welcomes everyone.
		</p>
	</div>
	<div class="swiper-container">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				<picture>
					<source media="(max-width: 599px)"
						srcset="./assets/images/mobile/code.webp" type="image/webp" />
					<source media="(min-width: 600px)"
						srcset="./assets/images/tablet/code.webp" type="image/webp" />
					<source media="(min-width: 1200px)"
						srcset="./assets/images/desktop/code.webp" type="image/webp" />
					<img src="./assets/images/fallback/code.jpg" alt="alt text" />
				</picture>
			</div>
			<div class="swiper-slide">
				<picture>
					<source media="(max-width: 599px)"
						srcset="./assets/images/mobile/office.webp" type="image/webp" />
					<source media="(min-width: 600px) and (max-width: 1199px)"
						srcset="./assets/images/tablet/office.webp" type="image/webp" />
					<source media="(min-width: 1200px)"
						srcset="./assets/images/desktop/office.webp" type="image/webp" />
					<img src="./assets/images/fallback/office.jpg" alt="alt text" />
				</picture>
			</div>
			<div class="swiper-slide">
				<picture>
					<source media="(max-width: 599px)"
						srcset="./assets/images/mobile/data-idea.webp" type="image/webp" />
					<source media="(min-width: 600px) and (max-width: 1199px)"
						srcset="./assets/images/tablet/data-idea.webp" type="image/webp" />
					<source media="(min-width: 1200px)"
						srcset="./assets/images/desktop/data-idea.webp" type="image/webp" />
					<img src="./assets/images/fallback/data-idea.jpg" alt="alt text" />
				</picture>
			</div>
			<div class="swiper-slide">
				<picture>
					<source media="(max-width: 599px)"
						srcset="./assets/images/mobile/desk.webp" type="image/webp" />
					<source media="(min-width: 600px) and (max-width: 1199px)"
						srcset="./assets/images/tablet/desk.webp" type="image/webp" />
					<source media="(min-width: 1200px)"
						srcset="./assets/images/desktop/desk.webp" type="image/webp" />
					<img src="./assets/images/fallback/desk.jpg" alt="alt text" />
				</picture>
			</div>
			<div class="swiper-slide">
				<picture>
					<source media="(max-width: 599px)"
						srcset="./assets/images/mobile/desk-2.webp" type="image/webp" />
					<source media="(min-width: 600px) and (max-width: 1199px)"
						srcset="./assets/images/tablet/desk-2.webp" type="image/webp" />
					<source media="(min-width: 1200px)"
						srcset="./assets/images/desktop/desk-2.webp" type="image/webp" />
					<img src="./assets/images/fallback/desk-2.jpg" alt="alt text" />
				</picture>
			</div>
			<div class="swiper-slide">
				<picture>
					<source media="(max-width: 599px)"
						srcset="./assets/images/mobile/group-working.webp" type="image/webp" />
					<source media="(min-width: 600px) and (max-width: 1199px)"
						srcset="./assets/images/tablet/group-working.webp" type="image/webp" />
					<source media="(min-width: 1200px)"
						srcset="./assets/images/desktop/group-working.webp" type="image/webp" />
					<img src="./assets/images/fallback/group-working.jpg" alt="alt text" />
				</picture>
			</div>
		</div>
	</div>
</section>
