<section class="slider">
	<h2 class="slider__heading">We are community.</h2>
	<div class="glide">
		<img src="./assets/circle-text.svg" alt="" class="slider__circle-text">
		<div data-glide-el="track" class="glide__track">
			<ul class="glide__slides">
				<li class="glide__slide">
					<img src="https://placeimg.com/506/506/tech" alt="">
				</li>
				<li class="glide__slide">
					<img src="https://placeimg.com/506/759/tech" alt="">
				</li>
				<li class="glide__slide">
					<img src="https://placeimg.com/718/479/tech" alt="">
				</li>
				<li class="glide__slide">
					<img src="https://placeimg.com/506/506/tech" alt="">
				</li>
				<li class="glide__slide">
					<img src="https://placeimg.com/506/759/tech" alt="">
				</li>
				<li class="glide__slide">
					<img src="https://placeimg.com/718/479/tech" alt="">
				</li>
			</ul>
		</div>
	</div>
</section>
