<section>
    <div class="stage grid">
        <div class="stage__title col-start-2 col-end-5
            col-end-12-xs">
            <h1><span class="headline-101 slide-in" data-delay="0s">brains</span>
                <br>
                <span class="slide-in" data-delay="0.3s">that build</span></h1>
        </div>
        <div class="stage__video col-start-6 col-end-12 col-start-2-xs
            col-end-13-xs">
            <img class="stage__video__item" src="./assets/stage.png" alt="">
        </div>
        <div class="stage__overlap col-start-1 col-end-11"></div>
    </div>
</section>
