<section class="work">
	{% include section-header, title: "Work", number: "04", type: "small" %}

	<div class="grid">
		<h3 class="work__headline col-start-6 col-start-1-xs col-end-12">
			<span class="slide-in" data-delay="0s">We push companies</span>
				<br/>
			<span class="slide-in" data-delay="0.3s">
				out of their comfort <span class="headline-201">zo</span><span class="headline-202">ne</span>
			</span>
		</h3>
	</div>
	<div class="work__inner-wrapper">
		<div class="work__video-container">
			<video class="work__video-preview-loop" autoplay muted playsinline loop>
				<source src="/assets/videos/work-video-loop.webm" type="video/webm" />
				<source src="/assets/videos/work-video-loop.mp4" type="video/mp4" />
			</video>
			<video class="work__video-element"
			       controls
			       preload="none"
			       disablepictureinpicture
			       controlslist="nodownload"
			>
				<source src="/assets/videos/s2-cases.webm"
						type="video/webm"
						media="screen and (min-width: 600)"/>
				<source src="/assets/videos/s2-cases.mp4"
				        type="video/mp4"
				        media="screen and (min-width: 600)"/>
				<source src="/assets/videos/s2-cases-mobile.webm"
				        type="video/webm"
				        media="screen and (max-width: 600)"/>
				<source src="/assets/videos/s2-cases-mobile.mp4"
				        type="video/mp4"
				        media="screen and (max-width: 600)"/>
			</video>
			<video class="work__video--reduced-motion">
				<source src="/assets/videos/work-video-loop.webm#t=2" type="video/webm" />
				<source src="/assets/videos/work-video-loop.mp4#t=2" type="video/mp4" />
			</video>
			<button class="work__video-media-control">
				Play Reel
			</button>
		</div>
		<div class="grid">
			<div class="work__logos">
				<div class="work__logos-el-wrapper">
					<img src="/assets/svg/VW.svg" alt="VW logo" />
				</div>
				<div class="work__logos-el-wrapper">
					<img src="/assets/svg/Audi.svg" alt="Audi logo" />
				</div>
				<div class="work__logos-el-wrapper">
					<img src="/assets/svg/Comdirect.svg" alt="comdirect logo" />
				</div>
				<div class="work__logos-el-wrapper">
					<img src="/assets/svg/ADAC.svg" alt="ADAC logo" />
				</div>
				<div class="work__logos-el-wrapper">
					<img src="/assets/svg/Telefonica.svg" alt="Telefónica logo" />
				</div>
				<div class="work__logos-el-wrapper">
					<img src="/assets/svg/Bosch.svg" alt="Bosch logo" />
				</div>
				<div class="work__logos-el-wrapper">
					<img src="/assets/svg/Roche.svg" alt="Roche logo" />
				</div>
				<div class="work__logos-el-wrapper">
					<img src="/assets/svg/Deutsche_Bank.svg" alt="Deutsche Bank logo" />
				</div>
				<div class="work__logos-el-wrapper">
					<img src="/assets/svg/Deutsche_Bahn.svg" alt="Deutsche Bahn logo" />
				</div>
				<div class="work__logos-el-wrapper">
					<img src="/assets/svg/Airbus.svg" alt="Airbus logo" />
				</div>
			</div>
		</div>
	</div>
</section>
