<section class="work">
	{% include section-header, title: "Work", number: "04", type: "small" %}

	<div class="grid">
		<h3 class="work__headline col-start-6 col-start-1-xs col-end-12">
				We push companies
				<br />
				out of their comfort <span class="headline-202">zone</span>
			</h3>
	</div>
	<div class="work__inner-wrapper">
		<div class="work__video-container">
			<video class="work__video-preview-loop" autoplay muted loop>
				<source src="./assets/5s_video.webm" type="video/webm" />
				<source src="./assets/5s_video.mp4" type="video/mp4" />
			</video>
			<video
					class="work__video-element"
					src="./assets/S2_160221.mp4"
					controls
					preload="none"
					disablepictureinpicture
					controlslist="nodownload"
			></video>
			<button class="work__video-media-control">
				Play Reel
			</button>
		</div>
		<div class="grid">
			<div class="work__logos">
				<div class="work__logos-el-wrapper">
					<img src="./assets/VW.svg" alt="" />
				</div>
				<div class="work__logos-el-wrapper">
					<img src="./assets/Audi.svg" alt="" />
				</div>
				<div class="work__logos-el-wrapper">
					<img src="./assets/Comdirect.svg" alt="" />
				</div>
				<div class="work__logos-el-wrapper">
					<img src="./assets/ADAC.svg" alt="" />
				</div>
				<div class="work__logos-el-wrapper">
					<img src="./assets/Telefonica.svg" alt="" />
				</div>
				<div class="work__logos-el-wrapper">
					<img src="./assets/Bosch.svg" alt="" />
				</div>
				<div class="work__logos-el-wrapper">
					<img src="./assets/Roche.svg" alt="" />
				</div>
				<div class="work__logos-el-wrapper">
					<img src="./assets/Deutsche_Bank.svg" alt="" />
				</div>
				<div class="work__logos-el-wrapper">
					<img src="./assets/Deutsche_Bahn.svg" alt="" />
				</div>
				<div class="work__logos-el-wrapper">
					<img src="./assets/Airbus.svg" alt="" />
				</div>
			</div>
		</div>
	</div>
</section>
