@import "../core/variables";

.stage {
	@include grid-right();

	background: $color-primary--black;
	color: $color-primary--white;
	height: 90vh;
	position: relative;

	&__headline {
		.headline-202 {
			@include font-serif-shared-large;
		}
	}

	&__title,
	&__video {
		margin: auto;
		position: relative;
		width: 100%;
		@include bp-xs() {
			margin: 0;
		}
	}

	&__video {
		overflow: hidden;

		&__item {
			width: 90%;
			@include bp-xs() {
				width: 100%;
			}
		}

		&--reduced-motion {
			display: none;
		}
	}

	@media (prefers-reduced-motion) {
		&__video__item {
			display: none;
		}

		&__video--reduced-motion {
			display: block;
		}
	}

	&__overlap {
		background-color: $color-primary--white;
		bottom: -16rem;
		height: 24rem;
		position: absolute;
		width: 100%;
		z-index: 4;

		@include bp-xs() {
			bottom: -10rem;
			height: 15rem;
		}

		@include bp-s() {
			bottom: -10rem;
			height: 16rem;
		}

		@include bp-m() {
			bottom: -10rem;
			height: 18rem;
		}

		.is-dark & {
			background-color: $color-primary--black;
		}
	}
}
