.work {
	overflow-y: auto;
	position: relative;

	&__headline > .headline-201 {
		.is-dark & {
			color: $color-primary--white;
		}
	}

	&__headline {
		@include spacing-700(margin-bottom);

		margin: 0;

		.is-dark & {
			color: $color-primary--white;
		}

		.is-underline {
			position: relative;

			&::after {
				position: absolute;
				content: "";
				bottom: 0;
				left: -1rem;
				right: -1rem;
				height: 1rem;
				filter: invert(0);
				background: url("./assets/underline.svg");
				background-repeat: no-repeat;
				background-position: 100%;
			}

			.is-dark & {
				/* stylelint-disable-next-line */
				&::after {
					filter: invert(1);
				}
			}
		}
	}

	&__inner-wrapper {
		position: relative;
	}

	&__logos {
		display: flex;
		flex-wrap: wrap;
		margin: 12rem 0 8rem;

		@include bp-xs() {
			margin: 5.6rem 0 1.6rem;
		}

		@include bp-s() {
			margin: 8rem 0 4rem;
		}

		&-el-wrapper {
			@include default-animation(filter);

			position: relative;
			width: 20%;
			padding: $spacing--400--desktop 0;
			text-align: center;
			filter: invert(1);

			@include bp-xs() {
				width: 50%;
				padding: $spacing--400 0;
			}

			@include bp-s() {
				width: 50%;
			}

			.is-dark & {
				filter: invert(0);
			}
		}

		img {
			max-height: 7.2rem;
			width: 100%;

			@include bp-xs() {
				max-height: 4rem;
			}
		}
	}

	.video-container {
		@include responsive-spacing(margin-left, 2.4rem, 6.4rem, 9.6rem, 12.8rem);
	}
}
