---
permalink: /index.css
---
{% include "css/main.css" %}

{#

Interim workaround until https://github.com/11ty/eleventy/issues/117 is solved
Based on: https://github.com/11ty/eleventy/issues/344#issuecomment-485019492
Why a Nunjucks file? Liquid does not support including non Liquid files

#}
