---
title: SinnerSchrader
layout: default.liquid
permalink: data-policy.html
---

{% include navigation, data: global %}

<main>
	<section class="grid">
		{% include page-headline, data: dataPolicy %}
	</section>
	<section>
		{% include section-header, title: "Data Protection", number: "01" %}
	</section>

	<div class="data-policy grid">
		<div class="col-3">
			{% include anchor-navigation, data: dataPolicy %}
		</div>

		<div class="data-policy__content col-start-5 col-end-12 col-start-1-xs col-end-12-xs col-start-1-s col-end-12-s">
			<p>
				Welcome to the sinnerschrader.com website. We appreciate our users' concerns around privacy and take our data
				protection obligations very seriously. Here we wish to inform you of which data we use for which purposes
				when you visit our website.
			</p>

			<section id="general-information">
				<h3>General information</h3>
				<p>
					As being responsible for this website, we take the protection of your personal data very seriously.
					We treat your personal data confidentiality in particular in accordance with the statutory data protection
					regulations.
				</p>
				<p>
					When you use this website, various personal data is collected. Personal data are data with which you can be
					personally identified. This data protection declaration exemplifies which data we collect and for what we
					use it. It also explains how and for what purpose this is done.
				</p>
				<p>
					We would like to point out that data transmission over the Internet (e.g. communication by e-mail)
					can have security gaps. A complete protection of data against access by third parties is not possible.
				</p>
			</section>

			<section id="responsible-website">
				<h3>Responsible For Website</h3>
				<address>
					SinnerSchrader AG | SinnerSchrader Group
					<br>
					Völckersstraße 38
					<br>
					22765 Hamburg
					<br>
					Germany
				</address>
				<p>
					Executive Board:
					<br>
					Thomas Dyckhoff, Evalotta Kahlen
					<br>
					Chairman of the Supervisory Board: Frank Riemensperger
				</p>
			</section>

			<section id="responsible-data-protection">
				<h3>Responsible For Data Protection</h3>
				<address>
					SinnerSchrader AG
					<br>
					Data Protection Officer
					<br>
					Völckersstraße 38
					<br>
					22765 Hamburg
					<br>
					Germany
					<br>
					<a href="datenschutz-ag@sinnerschrader.com">datenschutz-ag@sinnerschrader.com</a>
				</address>
			</section>

			<section id="providing-website">
				<h3>Providing the Website</h3>
				<p>By loading our website, some data is being stored in a web server protocol file:</p>
				<ul>
					<li>Date and time of the request for the load of the web page</li>
					<li>Size of the data package being transmitted within the connection</li>
					<li>Type and version of the used browser as well as your IP address</li>
				</ul>
				<p>Furthermore, we store the following information:</p>
				<ul>
					<li>HTTP Method</li>
					<li>Host name</li>
					<li>URI of the request</li>
					<li>HTTP Response Code</li>
					<li>Referrer</li>
					<li>User-Agent</li>
					<li>Edge Result</li>
					<li>SSL cypher, Protocol version, FLE-Status, FLE encrypted fields</li>
				</ul>
				<p>
					The legal base for the processing of your IP address is Art. 6, para. 1, lit. f) GDPR. Our legitimate
					interest to store this data is based on the following purposes:
				</p>
				<ul>
					<li>ensure a seamless connection establishment</li>
					<li>ensure the smooth usage of our website / application</li>
					<li>technical analysis of the system security and stability</li>
				</ul>
				<p>
					Your IP address is generally not stored, we especially do not use it for analysing personal data. A
					full storage of the IP address would only happen so that we can track technical errors or hacker
					attacks. Our web servers are configured in a way that your IP address is deleted in a timely manner
					after your visit of our site.
				</p>
			</section>

			<section id="rights-data-protection">
				<h3>Rights according to legal data protection regulations</h3>
				<p>
					You have the right to request information, correction, deletion or blocking of your personal data.
					As far as you should request deletion of your personal data stored by us, we will execute your request
					without undue delay, unless legal duties for documentation or storage apply. You can object to the
					usage of your personal data for advertising or market research purposes or revoke given opt-ins at
					any time.
				</p>
				<p>
					In case we process personal data of you, you are so called "affected" within the meaning of the General
					Data Protection Regulation (GDPR) and you have the following rights vis-à-vis the controller:
				</p>
				<ul>
					<li>
						Right to information according to Art. 15 GDPR
						<br>
						You have the right to get information for free about your personal data stored by us at any time.
						Furthermore, you have the right to have your data provided to us transferred to yourself or a third
						party at any time.
					</li>
					<li>
						Right to correct any information that is inaccurate or incomplete according to Art. 16 GDPR
					</li>
					<li>
						Right to Deletion according to Art. 17 GDPR
					</li>
					<li>
						Right to limitation of processing according to Art. 18 GDPR
						<br>
						At your request, we will correct, block or delete the personal data stored about you, provided that
						other statutory regulations (e.g. obligations to store data from the German Commercial Code)
						do not prevent this.
					</li>
					<li>
						Right to data transferability according to Art. 20 GDPR
						<br>
						You have the right to get information about your personal data for free in a structured, current
						and readable format
					</li>
					<li>
						Right of contradiction/revocation of permission according to Art. 21 GDPR
						<br>
						If you have given us your consent to process your personal data, you can revoke this at any time
					</li>
					<li>
						Right of complaint to the national supervisory authority according to Art. 13 para. 2 lit. d) GDPR
						<br>
						Without prejudice to any other administrative or judicial remedy, you have the right of appeal to a
						supervisory authority, in particular in the Member State where you reside, work or suspect of
						infringement, if you believe that the processing of personal data concerning you is contrary
						to the GDPR.
						The supervisory authority to which the complaint has been lodged shall inform the complainant of
						the status and results of the complaint, including the possibility of a judicial remedy according
						to Art. 78 GDPR.
					</li>
				</ul>
				<p>
					In order to process your request (please mail: datenschutz-ag@sinnerschrader.com), we are obliged to
					check your identity carefully. Please understand that we reserve the right - depending on the
					criticality of the data - to request further information or proof of identity. This serves in
					particular to protect your personal data from unauthorized access by third parties. We would like to
					point out that we reserve the right not to process requests that are received inappropriately
					frequently or without corresponding proof of identity. We will inform you of this in writing
					(via E-Mail).
				</p>
			</section>

			<section id="children">
				<h3>Children</h3>
				<p>
					Persons under 16 should not send us personal data without the consent of their parents or persons with
					parental power. We ask for no personal data from children and adolescents, nor do we collect such
					information nor pass it on to third parties.
				</p>
			</section>

			<section id="github">
				<h3>GitHub</h3>
				<p>
					GitHub, Inc. is a cloud service provider. Here we host and operate our website. Legal basis for
					using GitHub on our website is the privacy shield framework
					(<a href="https://www.privacyshield.gov/participant?id=a2zt000000001K2AAI&status=Active">
					https://www.privacyshield.gov/participant?id=a2zt000000001K2AAI&status=Active</a>). We may process
					your personal data until our legitimate interest ceases to exist.
				</p>
				<p>
					For more details of GitHub‘s privacy and security processes, please visit
					<a href="https://help.github.com/articles/github-privacy-statement/">
						https://help.github.com/articles/github-privacy-statement/
					</a>.
				</p>
			</section>

			<section id="embedding-external">
				<h3>Embedding of external platforms</h3>
				<p>
					You will find links to other websites on this website, directly or indirectly by means of links.
					The legal basis for such processing is our legitimate interest pursuant to Art. 6 para. 1 lit. f) GDPR.
					We may process your personal data until our legitimate interest ceases to exist.
				</p>
				<p>
					We hereby expressly distance ourselves from all contents of these sites to which links are established
					and do not adopt these contents as our own. We do not have any influence on changes of the linked
					content. Our website may contain links to other providers' websites, which are not covered by this data
					protection policy. To the extent that the use of websites of other providers involves the capture,
					processing and use of personal data, please refer to the data protection policy of the relevant
					provider.
				</p>
			</section>

			<h2 id="social-media">Online presence on social media</h2>

			<section id="policy-facebook-fan-pages">
				<h3>Data policy statement for Facebook fan pages</h3>
				<p>
					The use of this Facebook fan page is accompanied by the processing of personal data. In addition to
					Facebook, we as the fan page operator also collect and process users’ personal data on our fan page.
				</p>
				<p>
					Our intention in providing the following information is to give you an overview of the processing
					mentioned above and also to advise you of your rights pursuant to the European General Data Protection
					Regulation (GDPR) and the Bundesdatenschutzgesetz (BDSG – German Federal Data Protection Act).
				</p>
			</section>

			<section id="processing-facebook-fan-pages">
				<h3>Data processing on our Facebook fan page</h3>
				<p>
					When you visit our fan page (<a href="https://de-de.facebook.com/pg/ElektroautoRatgeberNews/">
					https://de-de.facebook.com/pg/ElektroautoRatgeberNews/</a>,
					<a href="https://www.facebook.com/ElektromobilitaetNewsInfos">
						https://www.facebook.com/ElektromobilitaetNewsInfos</a>,
					<a href="https://www.facebook.com/SinnerSchrader/">https://www.facebook.com/SinnerSchrader/</a>),
					Facebook Ltd., 4 Grand Canal Square, Grand Canal Harbour, D2 Dublin, Ireland, collects, stores and
					processes your personal data in accordance with Facebook’s data policy. Facebook uses cookies to store
					and further process this information, and these cookies are stored on the various devices of the
					visitors to the Facebook fan page, especially when the visitors are registered members of Facebook.
					As a result, Facebook can display targeted advertising on its own platform and also on third-party
					pages. Facebook does not publish in full and we do not know to what extent Facebook uses the
					above-mentioned data for its own purposes, to what extent activities on the Facebook fan page are
					associated with individual users, how long Facebook stores this data and whether data is disclosed to
					third parties.
				</p>
				<p>
					Facebook, Inc., the US parent company of Facebook Ireland Ltd., is certified under the EU-US Privacy
					Shield and has thus declared that it complies with the European level of data protection and the
					accompanying data policies. As the operator of the Facebook fan page, we cannot rule out the possibility
					that data belonging to users of the Facebook fan page will be transferred to and processed in third
					countries, nor can we exclude any related risks.
				</p>
				<p>
					For further information, please also see Facebook’s data policy:
					<a href="https://facebook.com/about/privacy/">https://facebook.com/about/privacy/</a>
				</p>
				<p>
					Facebook furthermore offers the option of objecting to specific forms of data processing; you will find
					related information and opt-out choices at
					<a href="https://www.facebook.com/settings?tab=ads">https://www.facebook.com/settings?tab=ads</a>.
				</p>
				<p>
					We use the statistics services Facebook Insights for the purpose of designing and continually updating
					our pages as needed. This service records your activity on our page and sends it to us in the form of
					anonymised statistics. This allows us to gain an insight among other things into the activity of the
					visitors to our fan page, page views, the reach of contributions, views and average duration of video
					playbacks, information about which countries and cities our visitors come from as well as statistics on
					the gender balance of our visitors.
				</p>
				<p>
					In addition, Facebook records data if you interact with our page as a registered Facebook user (e.g. if
					you click a Like button, send us a message, or post a comment). These interactions are also recorded and
					provided in the statistics by Facebook; we as the operator are unable to exert an influence on this.
					It is therefore not possible for us as the fan page operator to deactivate this function or to prevent
					data from being generated and processed.
				</p>
				<p>
					It is not possible for us as the fan page operator to identify individual users or to access individual
					user profiles on the basis of the insights automatically provided by Facebook.
				</p>
				<p>
					You can find more detailed information on Facebook Insights from Facebook here
					(<a href="https://www.facebook.com/legal/terms/information_about_page_insights_data">
					https://www.facebook.com/legal/terms/information_about_page_insights_data</a>).
				</p>
				<p>
					Facebook and we share responsibility for processing the Insights data. The details of this are governed
					by the agreement on shared responsibility (Joint Controller Addendum), which you can find here (
					<a href="https://www.facebook.com/legal/terms/page_controller_addendum">
						https://www.facebook.com/legal/terms/page_controller_addendum</a>).
				</p>
				<p>
					As the fan page operator, we also process data to a very limited extent only. Our fan page is operated
					on the legal basis of a balance of interests in accordance with Art 6(1) f) GDPR.
				</p>
				<p>
					In addition, we store user names and comments that are deleted on account of a breach of netiquette.
					These are tracked only in order to furnish any evidence that may be required in legal disputes within
					the period of limitation.
				</p>
				<p>
					The legal basis for us as the operator of the Facebook fan page to process data as mentioned above is
					Art. 6(1) b) GDPR (e.g. if you send us a request relating to a contract) on the one hand. On the other,
					the data can also be processed on the basis of your consent pursuant to Art. 6(1) a) GDPR (e.g. if you
					“like” or comment on one of our posts or upload content onto our page). You can withdraw the consent
					you have given at any time with effect for the future by deleting the comment or the content in
					question. The withdrawal of consent shall not affect the lawfulness of processing based on consent
					given before it is withdrawn.
				</p>
				<p>
					Facebook has assumed the primary responsibility for the processing of personal data using the “Insights”
					service offered by Facebook. This concerns the processing of Insights data and the implementation of the
					rights of the data subject. Please therefore contact Facebook directly concerning all obligations
					arising from the GDPR in relation to the processing of Insights data. We will forward to Facebook
					any queries that we receive from you on this subject.
				</p>
			</section>
		</div>
	</div>
</main>

{% include footer, data: global %}
