---
title: SinnerSchrader
layout: default
permalink: grid.html
---

<div class="grid">
    <h2>Grid</h2>
    <div class="col col-start-2 col-end-6 col-start-4-xs col-end-12-xs">
        column
    </div>
    <div class="col col-10 col-6-xs">
        column
    </div>
    <div class="col col-6 col-6-xs">
        column
    </div>
    <div class="col col-6 col-12-s">
        column
    </div>
    <div class="col col-6 col-12-s">
        column
    </div>
</div>