---
title: SinnerSchrader
layout: default.liquid
permalink: index.html
homepage: true
renderData: landingpage
bodyClass: is-bg-scroll
---

{% include navigation, data: global %}

<main>
	{% include stage, data: landingpage %}

	<section>
		{% include section-header, title: "Idea", number: "01" %}
		{% include overlap, data: landingpage %}
	</section>

	<section>
		{% include section-header, title: "Our Offer", number: "02" %}
		{% include offering, data: landingpage %}
	</section>

	<section>
		{% include section-header, title: "Culture", number: "03", type: "medium", spinningWheel: "spinning-wheel" %}
		{% include slider, data: landingpage %}
	</section>

	<section>
		{% include section-header, title: "Work", number: "04", type: "small" %}
		{% include work, data: landingpage %}
	</section>

	<section>
		{% include section-header, title: "Hey There", number: "05", type: "large" %}
		{% include job-teaser, data: landingpage %}
	</section>

	<section>
		{% include section-header, title: "Here we are", number: "06", type: "medium" %}
		{% include locations %}
	</section>

</main>

{% include footer, data: global %}


