// core
@import "./core/base";
@import "./core/fonts";
@import "./core/grid";
@import "./core/variables";

// includes
@import "./includes/footer";
@import "./includes/header";
@import "./includes/overlap";
@import "./includes/slider";

// external
@import "node_modules/@glidejs/glide/dist/css/glide.core";
@import "node_modules/@glidejs/glide/dist/css/glide.theme";
