// core
@import "./core/base";
@import "./core/fonts";
@import "./core/grid";
@import "./core/variables";

// includes
@import "./includes/footer";
@import "./includes/navigation";
@import "./includes/overlap";
@import "./includes/slider";
@import "./includes/locations";
@import "./includes/stage";
@import "./includes/work";
@import "./includes/job-teaser";
@import "./includes/section-header";
@import "./includes/error-stage";

// external
@import "node_modules/swiper/swiper-bundle";
